*{
    font-family: 'Josefin Sans', sans-serif;
}


.prova{
    border-bottom: solid 1px black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
.search1{
    border-bottom: solid 2px black;
}

.sfondoform{
    background: url(../../public/images/File-Transfer.png);
    background-size: auto;
    background-position: center;
    
}


.search{
    background-color:var(--main-red);
    width: 60vh;
    border-radius: 15px;
    
    height: 40px;
    border: none;
}

.sfondo{
    background: url(../../public/images/sfondosito.png);
    background-size: cover;
    height: 93vh;
}

:root {
    --main-color: #e7ecef;
    --main-red: rgb(243, 119, 72);
    --main-blue: #4361ee;
    --second-color: #faedcd;
    --third-color: #ade1e5;
    --dark-color: #212529;
    --main-gradient: linear-gradient(184deg, rgba(243, 118, 72, 0.797) 8%, rgba(229,234,253,1) 97%);
}

/* SEZIONE CATEGORIE */

.cardwelcome{
    border-bottom: solid 3px var(--main-blue);
    border-radius: 15px;

}

 .category-card{

    border-top: solid 8px var(--main-red);
    /* border-bottom: solid 8px var(--main-red); */

    position: relative;

    color: white;

    overflow: hidden;

    max-width: 350px;

    margin-left: auto;

    margin-right: auto;
}

.category-details{

    position: absolute;

    background: linear-gradient(to right,rgba(240, 38, 38, 0.4),rgba(227, 57, 34, 0.438));

    width: 100%;

    height: 100%;

    top: 0;

    left: 0;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    opacity: 0;

    transition: all 0.5s;
}

/* .category-card:hover .category-details{

    opacity: 1;
} */

.category-card img{

    transition: all 0.5s;

}

/* .category-card:hover img{

    transform: scale(1.5);
} */

/* NAVBAR */

#logo-main {
    display: block;
    margin: 20px auto;
}

/* #navbar-primary.navbar-default {
  background: transparent;
  border: none;
}

#navbar-primary.navbar-default.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-nav.li{
    display: inline-block;
      float: none;
}

.navbar-nav.a{
    padding-left: 30px;
    padding-right: 30px;
} */


.mynavbar {
    background-color: var(--main-red);
}

.nav-color {
    color: var(--dark-color);
    font-size: 21px;
}

.nav-color:hover {
    color: black;
} 

.nav-color:active {
    color: black;
}

/* MASTHEAD */

.masthead {
    background-color: var(--main-gradient);
    background-repeat: no-repeat;
    height:100%;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
    min-height: 25vh;

}


.drop-shadow {
    height: 100%;
    width: 100%;
    /* filter: drop-shadow(0px 20px 10px rgba(0, 0, 0)) */;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);
    
}    

.drop-shadow:before {
      display: block;
      position: absolute;
      top: 10em;
      height: calc(100% - 20em);
      width: calc(100% - 20em);
      border-top: 2px solid rgba(225, 225, 225, 0.2);
      border-left: 1px solid rgba(225, 225, 225, 0.1);
      border-right: 1px solid rgba(225, 225, 225, 0.3);
      z-index: 2;
    filter: blur(1px);
}


.back{
/*     background-image: url(../../public/images/sfondosito.png);
 */    background-position-y: center;
}

.cover  {

    width: 100%;
    height: 150px;
    padding: 20px 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
}

/* {{-- FORM PER INSERIMENTO ANNUNCI --}} */


.formannunci{
    background-color: #2f366dd8;
    min-width: 400px;
    max-height: 50vh;
    min-height: 40vh;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 3px rgba(145, 125, 160, 1);
    padding: 1rem; 
}
.formdropzone{
    background-color: #2f366dd8;
    width: 40%;
    /* height: 60vh; */
    border-radius: 5px;
    box-shadow: 0px 1px 10px 3px rgba(145, 125, 160, 1);
    /* margin-top: 100px; */
    padding:1rem;
    
}
/* .flex-form input [type="text"]{
    display: flex;
}

.flex-form input[type="submit"] {
    background: #ef3f5a;
    border: 1px solid #ef3f5a;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    position: absolute;
    right: 0;
    width: 160px;
}
  
.flex-form input[type="submit"]:hover {
    background: #d73851;
    border: 1px solid #d73851;
}
  
.flex-form {
    display: -webkit-box;
    /* display: flex; */
    /* z-index: 10; */
    /* width: 700px; */
    /* position: relative; */
    /* box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3); */
/* } */
  
/* .flex-form > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
} */
   
/* LOGIN & REGISTER */

.form-wrapper {
    width: 500px;
    height: 650px;
    border-radius: 20px;
    background: #2f366dd8;
    color: #FDF3F8;
    box-shadow: 0px 1px 10px 3px rgba(145, 125, 160, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.form-wrapper img {
    height: 100%;
    position: absolute;
    top: 0;
    left: -50%;
    opacity: .3;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.form-wrapper .content-wrapper {
    position: relative;
    opacity: 1;
    height: 600px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-login {
    margin: 4rem auto;
}

.form-login input {
    margin: 8px auto;
    display: block;
    border-radius: 4px;
    background: none;
    color: rgba(253, 243, 248, 1);
    border: 2px solid rgba(85, 112, 172, .8);
    padding: 10px;
    width: 200px;
    font-weight: bolder;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.form-login button {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    display: block;
    font-weight: bolder;
    color: #FDF3F8;
    background: #ec6838;
    border: none;
    border-radius: 4px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.form-login input:focus {
    outline: none;
    color: rgba(253, 243, 248, 1);
    background: rgba(85, 112, 172, .8);
    border-width: 2px;
    border-style: solid;
    border-color: rgba(85, 112, 172, .8);
}

.form-login input:hover {
    color: rgba(253, 243, 248, 1);
    background: rgba(85, 112, 172, .8);
    border-width: 2px;
    border-style: solid;
    border-color: rgba(85, 112, 172, .8);
}

.form-login button:hover {
    cursor: pointer;
    box-shadow: 0px 1px 10px 1px rgba(236, 104, 56, .6);
}

.form-wrapper .content-wrapper p {
    font-size: .7rem;
    color: rgba(223, 214, 217, .6);
}

.form-wrapper .content-wrapper a {
    color: #FDF3F8;
    text-decoration: none;
}

#wrapper-signup {
    opacity: 0;
    pointer-events: none;
}

#wrapper-signup:target {
    display: block;
    opacity: 1;
    pointer-events: all;
}

#wrapper-signup:target #wrapper-login,
#wrapper-signin:target #wrapper-signup {
    opacity: 0;
    pointer-events: none;
}

#wrapper-signup,
#wrapper-login {
    -webkit-transition: .2s linear all;
    transition: .2s linear all;
}



/* CARDS */

.cardcontainer {
    max-width: 300px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding: 30px;
    border-radius: 15px;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 0.4s ease-in-out;
  }

.cardcontainer img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
    /* filter: grayscale(100%); */
    transition: all 0.4s ease-in-out;
}

/* CARD PER CATEGORIA */

.formannunci2{
    background-color: #2f366dde;
    min-width: 400px;
    max-height: 50vh;
    min-height: 40vh;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 3px rgba(145, 125, 160, 1);
    padding: 1rem; 
}

/* FORM */

 /* .header-form {
    /* margin: 0;
    height: 100vh; */
   /* background-color: var(--main-blue); */
/* } */

/* .form {

    background: white;
    border-radius: 30px;
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.413);
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    position: relative;
} */


/* BUTTON */

.button-24 {
    background: #2f366dde;
    border: 1px solid #2f366dde;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}
  
.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: var(--dark-color);
}
  
.button-24:active {
    opacity: .5;
}

.button-24bis {
    background: var(--main-blue);
    border: 1px solid white;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: var(--main-red);
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24bis:hover,
.button-24bis:active {
    background-color: initial;
    background-position: 0 0;
    color: black;
}
  
.button-24bis:active {
    opacity: .5;
}

/* FOOTER */

.my-footer {
    background-color: #212529;
    color: var(--main-red);
}